body
{
    max-width: 80ch;
    margin: auto;
    background-color: white;
}

*
{
    color: black;   
    font-family: 'Montserrat', sans-serif; 
}

ul {
    margin: 0;
}


main .title{
    text-align: center;
}

.beat-of-the-gnomes{
    padding-left: 5px;
}


#trailer{
    box-sizing: border-box;
    border-radius: 20px;
    min-width: 400px;
    width: 60%;
    height: 100%;
    display: block;
}

.game-info-container{
    height: fit-content;
    border-radius: 10px;

    padding: 5px;

    display: flex;
    flex-direction: column;
}

hr {
    border-top: 2px solid #495057;
    width: 100%;
}

.game{
    min-height: 150px;
    height: fit-content;

    max-width: 100%;
    
    border-radius: 2em;

    justify-content: space-between;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.game-info-text{
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

ul{
    padding-left: 2ch;
}

.game video{
    box-sizing: border-box;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    margin: auto;
}

@media (max-width: 500px) {
    .game-info-text{
        width: 400px;
    }
    
    .game video{
        width: 400px;
    }

    #trailer{
        margin: auto;
    }
  }